@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-outfit: 'Outfit', sans-serif;

    --color-primary: #ffffff;
    --color-secondary: #465fff;
    --color-third: #ecf3ff;
    --color-text-primary: #1d2939;
    --color-text-secondary: #667085;
    --color-supportive: #e5e5ea;
}

@utilities {
    .font-outfit {
        font-family: var(--font-outfit);
    }
}
